body {
  background-image: url("https://images.unsplash.com/photo-1531256379416-9f000e90aacc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bm90ZXxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

/* 흰색 노트의 전체배경*/

.main-body {
  border-top: 10px solid blanchedalmond;
  border-bottom: 10px solid blanchedalmond;
  background-color: white;
  border-radius: 1%;
  min-height: 100vh;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
h1 {
  font-family: "Patrick Hand", cursive;
  margin-left: 20px;
  font-size: 50px;
}

header {
  margin-bottom: 10px;
}
input {
  border: 1px solid blanchedalmond;
  outline: none;
}
input:hover {
  border: 3px solid blanchedalmond;
}

.button-main {
  width: 4em;
  height: 2em;
  background-color: blanchedalmond;
  border: none;
}

.button-main:hover {
  background-color: rgb(250, 212, 165);
}
.task-main {
  border: 1px solid lightgray;
}
.task-title {
  border-bottom: 1px solid lightgray;

  display: flex;
  position: relative;
}

#under-line {
  transition: 0.5s;
  background-color: pink;
  width: 60px;
  height: 4px;
  left: 0px;
  position: absolute;
  top: 52px;
}

.task-title div:first-child {
  padding: 0px;
}

.task-title div {
  padding: 1em;
  cursor: pointer;
}

.task-option {
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.task-option-name {
  text-decoration: line-through;
}

.task-background {
  background-color: lightgray;
}

.green-check {
  color: green;
  font-size: 25px;
}

.red-can {
  color: red;
  font-size: 25px;
}

.button-box {
  height: 100%;
  border: none;
  width: 5em;
  margin: 0;
  background-color: white;
  transition: 0.5s;
  padding: 1px 6px;
}
.button-box:first-child:hover {
  background-color: greenyellow;
}
.button-box:nth-child(2):hover {
  background-color: rgb(255, 0, 0, 0.3);
}

.task-option-pad {
  padding: 1em;
}

.button-group {
  display: flex;
}
